<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Blogs</title>
    <%- include('./partials/style.ejs') %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora corporis alias possimus non minus, cum
            molestias sapiente ad modi molestiae impedit beatae provident saepe dolorem consectetur numquam laudantium,
            vero porro voluptatibus quo dicta. Aliquam obcaecati qui iusto modi corporis, asperiores vitae consequatur
            voluptate expedita labore voluptates architecto soluta, aliquid ex placeat recusandae dolorem officia quos
            mollitia blanditiis ipsam porro. Ipsa similique neque voluptates unde magnam repellat nesciunt modi nostrum.
            Atque perferendis voluptate deleniti sit dolore odit fugiat non! Iure dolor repudiandae quae, esse
            reiciendis pariatur corrupti in rem officiis officia maiores ipsa vitae expedita, accusantium quas numquam
            quo vero atque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore neque non quis explicabo dolore vitae
            provident odit, cumque, praesentium ducimus est aut consequuntur soluta quaerat nesciunt, dolores voluptates
            aliquid! Iusto mollitia atque nulla nostrum maxime deleniti, nisi ratione aspernatur facere impedit
            praesentium placeat non, quas magni incidunt nesciunt odit, et eius hic eaque cupiditate cumque! Non velit
            magnam eum ab nihil itaque corporis officiis illo, at optio adipisci earum. Natus sed sequi quidem quae amet
            numquam officiis inventore impedit ullam ab mollitia, beatae delectus reprehenderit iure voluptatum
            cupiditate, labore vel, reiciendis adipisci quam exercitationem ea! Ex quo recusandae id est?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque dolorum veniam magni, iste autem repudiandae
            esse quam corporis voluptatibus ipsa natus omnis neque officia ab deserunt. Cumque aspernatur alias laborum
            nulla dolorum? Unde, similique neque amet quam hic aliquid. Aut incidunt deserunt recusandae, eius dolore
            deleniti suscipit sunt cum doloribus, rem nobis illo, numquam facilis a odio non provident consequatur
            debitis repellendus vero voluptatibus nemo. Quidem sint autem impedit mollitia, iste asperiores magnam
            eveniet corporis repudiandae quo quia, laudantium dolorum odit eos non error eligendi aspernatur atque ut
            repellat! Cumque, ab! Officia repudiandae sequi ab consequatur maxime eligendi odio dicta.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>